/* Add keyframes for the jiggle animation */
@keyframes jiggle {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-6px);
    }
    50% {
        transform: translateX(3px);
    }
    75% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(0);
    }
}

/* Apply the jiggle animation to the container when the page loads */
.container-coolstuff {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: auto; /* Add vertical scrollbar for overflow */
    gap: 50px;
    padding: 120px 15% 20px 15%;
    justify-content: left;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    box-sizing: border-box; /* Ensure padding is included in the total width */
    animation: jiggle 0.5s ease-in-out;
    height: calc(100vh - 200px); /* Adjust height to never intersect the bottom 300px */
}

.container-coolstuff::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Webkit browsers */
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 6px solid var(--primary_color);
    border-radius: 0px 0px 50px 50px;
    width: 220px;
    height: 420px; /* Decrease the default height proportionally */
    flex: 0 0 auto;
    scroll-snap-align: start;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out; /* Smooth transition for width and height change */
}

.data img {
    width: 100%;
    height: 50%; /* Adjust height to maintain aspect ratio */
    object-fit: cover;
    margin: 0;
    pointer-events: none;
    user-select: none;
}

.data h1 {
    margin: 0 0 5px 0;
    color: var(--primary_color);
    font-family: var(--font_default);
    font-size: 28px; /* Adjust font size */
    margin-top: -25px;
    pointer-events: none;
    user-select: none;
}

.data p {
    font-size: 16px;
    color: var(--primary_color);
    padding: 0 10px;
    font-family: var(--font_default);
    pointer-events: none;
    user-select: none;
}

.data .read-more {
    font-size: 14pt;
    opacity: 0.7;
    margin: 0;
    padding-bottom: 10px;
    font-family: var(--font_default);
}

/* Add a specific margin-left for the first card to create space from the screen edge */
.container-coolstuff .data:first-child {
    margin-left: 15px; /* Adjust this value to control the space between the edge and the first card */
}

/* Media query for wider screens */
@media (min-width: 1200px) {
    .container-coolstuff {
        align-items: center;
        justify-content: center; /* Center the cards */
        gap: 60px;  /* Increased gap between cards */
        padding: 135px 10% 20px 10%; /* Adjust padding for wider screens */
    }
    
    .data {
        width: 260px;  /* Increase the card width */
        height: calc(100vh - 400px); /* Full viewport height minus 150px */
        max-height: 500px;
    }
}