.container-willchaibutton {
    position: absolute;
    top: 30px;
    left: 60px;
    z-index: 1000; // Ensure it overlays on top of other elements

    a {
        text-decoration: none;

        p {
            font-size: 18pt;
            font-weight: 600;
            color: var(--primary_color);
            cursor: pointer;

            &:hover {
                color: var(--secondary_color); // Change color on hover if desired
            }
        }
    }
}

@media (max-width: 1024px) {
    .container-willchaibutton {
        top: 20px;
        left: 40px;

        a p {
            font-size: 16pt;
        }
    }
}

@media (max-width: 768px) {
    .container-willchaibutton {
        top: 15px;
        left: 30px;

        a p {
            font-size: 14pt;
        }
    }
}

@media (max-width: 480px) {
    .container-willchaibutton {
        top: 10px;
        left: 20px;

        a p {
            font-size: 14pt;
        }
    }
}
